h4{
    color: red;
}
h1{
    color: black;
}

.card {
    height: 450px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 200px;

}
img{
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px 0px 0px 10px;
}
body{
    background-color: #FFFDE1;
}
.card:hover{
    background-color: #0C7779;
    box-shadow: 2px 2px 10px red;
}
h3{
    margin: 10px;
}
p {
    margin: 10px;
}
#pets{
    display: flex;

}
